section.pages-section {
    padding: 22% 0px 12% 0px;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.error-wrap {
    text-align: center;
}

.error-wrap h5{color: #000; font-size: 20px; font-weight: 500; line-height: 30px; margin-bottom: 30px;}
// .submit-btn .btn{width: auto; margin-right: 10px;}