<section class="pages-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="error-wrap">
                    <h5>Refreshing page is not allowed,  Please login again to countinue your application
                    </h5>
                 

                    <div class="submit-btn">
                           <!-- <button class="btn">GO to Home Page</button> -->
                        <button class="btn" (click)="loginAgain()">Login Again</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>