<header id="header" class="page-header">
    <div class="top-header">
        <div class="container-fulid">
            <div class="topber">
                <ul class="nav top-nav">
                    <li class="nav-item">Government of India</li>
                    <li class="bgborder"></li>
                    <li class="nav-item">
                        Ministry of Electronics & Information Technology
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)"><img src="/assets/images/DI-logo.svg" alt=""></a>
                    </li>
                </ul>
            </div>

            <div class="topber">
                <ul class="nav topright-nav">
                    <li class="nav-item me-2">
                        <a href="https://scholarships.gov.in/" target="_blank"><img src="./assets/images/acces.svg"
                                width="26" id="arrowIcon"></a>
                    </li>

                    <!-- <li class="nav-item dropdown ">
                        <a class="nav-link language" href="home" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            English <img src="./assets/images/arrow.svg"></a>

                        <ul class="dropdown-menu language-dropdownmenu">
                            <li><a class="dropdown-item" href="home">English</a></li>
                            <li><a class="dropdown-item" href="javascript:void(0)">Hindi</a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </div>
    </div><!--close top-header-->

    <div class="middal-top">
        <div class="container-fulid">
            <div class="row">
                <div class="topber  col-sm-6">
                    <ul class="nav topnav-logo">
                        <li class="logo-warp me-3">
                            <a href="https://scholarships.gov.in/" target="_blank"><img
                                    src="./assets/images/nsp-logo.svg" alt=""></a>
                        </li>
                        <!-- <li class="nav-item mobile">
                            <a href="javascript:void(0)"><img src="./assets/images/warp.png" alt=""></a>
                        </li> -->
                        <li class="nav-item user">
                            <a href="javascript:void(0)"><img src="./assets/images/user.svg" alt=""></a>
                        </li>
                    </ul>
                </div>

                <!-- <div class="col-sm-6 col-md-6 col-lg-7 col-xl-5 mob2">
                    <div class="searchbox">
                        <div class="filter-wrap">
                            <select class="form-select form-control" aria-label="Default select example">
                                <option selected>Search All </option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <input type="text" class="form-control" placeholder="Type keyword(s)">
                        <button type="submit" class="btn serch-btn"><img src="./assets/images/search1.svg"></button>
                    </div>

                </div> -->

                <div class="col-sm-6">
                    <ul class="nav justify-content-end right-nav">
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                <span> FAQs</span> <img src="./assets/images/message-square.svg">
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                <span> Announcements</span> <img src="./assets/images/Announcements.svg">
                            </a>
                        </li> -->
                        <!-- <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">
                                <span> Helpdesk</span> <img src="./assets/images/Helpdesk.svg" alt="">
                            </a>
                        </li> -->

                        <li class="nav-item dropdown ">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span> FAQs</span> <img src="./assets/images/message-square.svg"></a>

                            <ul class="dropdown-menu language-dropdownmenu">
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/studentFAQs" target="_blank">
                                        <span><img src="./assets/images/icon/student-black.svg" alt=""></span>
                                        Student</a></li>
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/InstituteFAQs" target="_blank"><span><img
                                                src="./assets/images/icon/institute-black.svg" alt=""></span>
                                        Institute</a></li>
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/public/FAQ/DNO_SNO_FAQs_21122023_updated.pdf" target="_blank"><span><img
                                                src="./assets/images/icon/officer-black.svg" alt=""></span> Officer</a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span> Announcements</span> <img src="./assets/images/Announcements.svg" alt=""></a>

                            <ul class="dropdown-menu language-dropdownmenu">
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/student-announcements" target="_blank">
                                        <span><img src="./assets/images/icon/student-black.svg" alt=""></span>
                                        Student</a></li>
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/institute-announcements" target="_blank">
                                        <span><img src="./assets/images/icon/institute-black.svg" alt=""></span>
                                        Institute</a></li>
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/officer-announcements" target="_blank">
                                        <span><img src="./assets/images/icon/officer-black.svg" alt=""></span>
                                        Officer</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown ">
                            <a class="nav-link" href="javascript:void(0)" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span> Helpdesk</span> <img src="./assets/images/Helpdesk.svg" alt=""></a>

                            <ul class="dropdown-menu language-dropdownmenu">
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/nsphelpdesk" target="_blank">
                                        <span><img src="./assets/images/icon/student-black.svg" alt=""></span> NSP
                                        Helpdesk.</a></li>
                                <li><a class="dropdown-item" href="https://scholarships.gov.in/pfmshelpdesk" target="_blank">
                                        <span><img src="./assets/images/icon/student-black.svg" alt=""></span> PFMS
                                        Helpdesk</a></li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown" *ngIf="token">
                            <a class="navlink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="login-user-bg">
                                    <img src="./assets/images/user.svg" />
                                </div>
                            </a>
                            <ul class="dropdown-menu logoutwerp">
                                <li class="nav-item">
                                    <button class="nav-link" (click)="logout()">
                                        <span class="">Logout</span>
                                        <i class="bi bi-box-arrow-right"></i>

                                    </button>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>