<div class="inner-banner-wrap">
    <div class="container-fluid">
        <div class="banner-bg">
            <img src="./assets/images/weferfe.png">
            <h3 class="header-title">
                Grievance
            </h3>
        </div>

        <div class="custom-tabs">
            <ul class="nav nav-tabs scroll">
                <li class="nav-item">
                    <a href="https://scholarships.gov.in/" class="nav-link" target="_blank">
                        <img src="./assets/images/back-btn-white.svg">
                    </a>
                </li>
                <li class="nav-item">
                    <button class="nav-link active">
                        <img src="./assets/images/Grievance.svg" alt="">
                        <span>Grievance</span>
                    </button>
                </li>
            </ul>
        </div><!---custom-tabs-->
    </div>
</div>
<div class="registration-section">
    <div class="container-fluid">
        <div class="hd-tittle">
            <h2>Grievance Registration</h2>
        </div>

        <div class="gridlayer">
            <div class="card-werp" (click)="redirectTo('applicant')">
                <img src="./assets/images/dashboard/student-white.svg" alt="">
                <h5>Applicant</h5>
            </div>

           
            <div class="card-werp" (click)="redirectTo('insttute')">
                <img src="./assets/images/dashboard/instittute-white.svg" alt="">
                <h5>Institutions</h5>
            </div>


            <div class="card-werp" (click)="redirectTo('ministry')">
                <img src="./assets/images/dashboard/officer-white.svg" alt="">
                <h5>District/ State/ <br> Ministry</h5>
            </div>

        </div><!--gridlayer-->









    </div>
</div>