<div class="footer-logo">
    <div class="container">
        <div class="item-grid">
            <div class="logo-box">
                <img src="./assets/images/Ministry-logo.svg">
            </div>
            <div class="logo-box">
                <img src="./assets/images/mygoa-2.svg">
            </div>
            <div class="logo-box">
                <img src="./assets/images/DBT-logo.svg">
            </div>
            <div class="logo-box">
                <img src="./assets/images/indiagov.svg">
            </div>
            <div class="logo-box">
                <img src="./assets/images/digital-logo.svg">
            </div>
        </div>
    </div>
</div><!----close-footer-logo---->

<footer>
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-12">
                <ul class="nav footer-nav justify-content-center">
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)">Copyright Policy </a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"> Privacy Policy </a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"> Terms and Conditions </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"> Disclaimer </a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"> Hyperlink </a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"> Policy</a></li>
                    <li class="nav-item"><a class="nav-link" href="javascript:void(0)"> Site Map</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="last-update-bg">Last updated on: May, 2025 </div>


</footer>