.vertical-tabs .nav-link.active {
  background-color: #3BA8C8  !important;
  color:#fff !important;
}



.custom-tabs{display: flex; align-items: center; justify-content: space-between;}
.tittlehd{padding: 12px;}
.tittlehd h2{color: #fff; font-size:18px; font-weight: 400; margin: 0px; line-height: normal;}
.tittlehd h2 span{font-weight: 600; font-size: 22px;}


